* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-image: radial-gradient(
    circle,
    #0f1129,
    #0f112f,
    #101134,
    #131039,
    #160e3e
  );
}
